* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Ubuntu';
}

header {
    background-color: white;
}

header ul li {
    display: inline;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px;
    font-weight: 700;
    font-size: 16px;
}

header ul {
    margin-top: 20px;
    margin-left: 15px;
}

.demo {
    margin: auto;
    padding: 10px;
    background-color: #ff4157;
    font-size: 16px;
    border: 2px solid #ff4157;
    color: white;
    width: 150px;
    height: 50px;
}

.hero {
    background-image: url(../img/head.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}

div img {
    width: 100%;
    box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
}

.shop {
    background-image: url(../img/bg-img2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}

#logo {
    width: auto;
    box-shadow: none;
}

.core {
    background-color: #f5f6f8;
}

.inner img {
    filter: grayscale(100%);
}

footer {
    background-color: #f5f6f8;
    padding: 15px;
}